*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root,
#__next {
  isolation: isolate;
}

[data-theme='light'],
:root:not([data-theme='dark']) {
  --primary: #00da9c;
  --primary-hover: #2ef6bd;
  --primary-focus: rgba(0, 218, 156, 0.125);
  --primary-inverse: #000;
  --secondary: #f46b45;
  --secondary-hover: #f8a75c;
  --secondary-focus: rgba(244, 105, 67, 0.125);
  --secondary-inverse: #000;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --primary: #00da9c;
    --primary-hover: #2ef6bd;
    --primary-focus: rgba(0, 218, 156, 0.25);
    --primary-inverse: #000;
    --secondary: #f46b45;
    --secondary-hover: #f8a75c;
    --secondary-focus: rgba(244, 105, 67, 0.25);
    --secondary-inverse: #000;
  }
}

[data-theme='dark'] {
  --primary: #00da9c;
  --primary-hover: #2ef6bd;
  --primary-focus: rgba(0, 218, 156, 0.25);
  --primary-inverse: #000;
  --secondary: #f46b45;
  --secondary-hover: #f8a75c;
  --secondary-focus: rgba(244, 105, 67, 0.25);
  --secondary-inverse: #000;
}

:root {
  --nav-border-color: rgba(115, 130, 140, 0.2);
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  --error: #f44336;
  --error-hover: #f58178;
  --error-focus: rgba(244, 67, 54, 0.25);
  --error-inverse: #fff;
  --alert-border-color: var(--primary);
  --alert-background-color: var(--primary-focus);
  --alert-text-color: #fff;
}

body > nav {
  --nav-link-spacing-vertical: 1rem;
  border-bottom: 1px solid var(--nav-border-color);
  box-shadow: 0 1px 0 var(--nav-border-color);
}

img.logo {
  max-height: 50px;
}

body > main {
  padding: 0;
  padding-top: var(--block-spacing-vertical);
}

body > div {
  display: flex;
  gap: 8px;
}

body > div > aside {
  min-width: max-content;
}

aside li a {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 400;
  color: var(--contrast);
  padding: 16px;
  border-radius: var(--border-radius);
  text-decoration: none;
  margin: 4px 16px;
}

aside li a:hover,
aside li a.active {
  color: var(--primary);
  background-color: var(--primary-focus);
}

aside li a.active {
  font-weight: 700;
}

li > form {
  margin: 0;
}

main {
  width: 100%;
}

body > div > main,
body > div > aside {
  padding: 0 var(--block-spacing-horizontal);
}

.align-right {
  text-align: right;
}

.outline.ghost {
  border: none;
}
